<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shoot Snapshot</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular/angular-bootstrap.js"></script>
    <script src="../lib/angular/ui-bootstrap-tpls-0.11.2.js"></script>

    <script src="/auth/js/keycloak.js"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet">

</head>

<body>


<div ng-controller="GlobalCtrl">
  
    <div class="header">
        <div class="container">
            <div class="nav navbar-default header">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="color: white; font-size: 28px">Shoot'nShare</a>
                </div>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a style="color: white;" href="" ng-click="logout()">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="carousel carousel-height">
            <carousel interval="3000" style="height: 300px;">
                <slide ng-repeat="photo in photos" active="photo.active">
                    <img style="margin:auto;height: 300px" ng-src="{{photo.src}}">
                    <div class="carousel-caption">
                        <h4>Slide {{$index}}</h4>
                        <p>{{photo.id}}</p>
                    </div>
                </slide>
            </carousel>
        </div>

        <div class="row comments">
            <div class="col-md-12">
                <h1>Welcome!</h1>
                <blockquote>
                    <p>Shoot'nShare powered by AeroGear OAuth2 and Keycloak.</p>
                    <p> AeroGear provides flexible and extensible libraries to simplify mobile development across platforms and cut common repetitive infrastructure tasks.</p>
                    <small><a href="http://aerogear.org">AeroGear Team</a>, Open Source libs</small>
                </blockquote>
            </div><!-- col-md-12 -->
       </div><!-- row comments -->
    </div><!-- container -->
</div>




<footer class="clearfix">
  <div class="container">
    <a href="http://aerogear.org">
      <img src="../img/aerogear_logo.png" height="30">
    </a>
    <a href="http://redhat.com">
      <img src="../img/redhat.svg" height="30">
    </a>
  </div><!-- container -->
</footr>

</body>
</html>
