<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Keycloak Demo</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular/angular-resource.js"></script>
    <script src="../lib/angular/angular-route.js"></script>
    <script src="../lib/angular/ui-bootstrap-tpls-0.4.0.js"></script>

    <script src="/auth/js/keycloak.js"></script>
    <script src="js/app.js" type="text/javascript"></script>
</head>

<body data-ng-controller="GlobalCtrl">

<div id="content-area" class="col-md-9" role="main">
    <div id="content">
        <h2><span>Products</span></h2>
        <a href="" ng-click="logout()">Sign Out</a>
        <button type="submit" data-ng-click="reloadData()">Reload</button>
        <table class="table" data-ng-show="products.length > 0">
            <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Product Image</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td><img ng-src="/shoot/rest/products/images/{{product.filename}}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
